.root-container {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.main-content {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-image: url("../assets/background.jpg");
    background-repeat: repeat;
}

.main-nav {
    min-width: 0;
    text-align: center;
    background-color: #282c34;
    width: 0;
    visibility: hidden;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}

.main-nav.show {
    min-width: 300px;
    width: 300px;
    /*opacity: 1;*/
    visibility: visible;
}

.main-nav h1 {
    color: #c3c7ce;
    margin-left: 20px;
    opacity: 0;
    font-size: 0;

    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}

.main-nav.show h1 {
    opacity: 1;
    font-size: 36px;
}

.main-nav a {
    color: #c3c7ce;
    margin-left: 20px;
    opacity: 0;
    font-size: 0;

    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}

.main-nav.show a {
    opacity: 1;
    font-size: 20px;
}

.main-nav a:hover {
    color: black;
}

/* React boostrap override */
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: transparent;
    font-weight: bold;
    font-size: 23px;
}

.main-nav hr {
    margin-left: 20px;
}

.rectangle{
  display:flex;
  align-items: center;
  /*height:100%;*/
  width:20px;
  background-color: #282c34;
  position:relative;
}

.circle{
  height:45px;
  width:45px;
  min-width:45px;
  border-radius:30px;
  margin-left:-10px;
  background-color: #282c34;

  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
}

.rotate {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari */
  transform: rotate(180deg);
}

.circle p {
  color: black;
  font-size: 2.5em;
}

.circle img {
    height: 23px;
    margin-top: 11px;
    margin-left: 12px;
}